# Add any directories, files, or patterns you don't want to be tracked by version control
.idea/workspace.xml
.idea/*
.idea
.idea/vcs.xml
.idea/modules.xml
.idea/maximarkets.site.iml
*.zip
*.rar
*.gz
*.sql
*.tar
/wp-content/plugins/wp-file-manager
license.txt
readme.html
web.config
*.log
wp-content/backup-db/
wp-content/backups/
wp-content/cache/
wp-content/upgrade/
.tmb
**/node_modules/
wp-cli.phar
/local-xdebuginfo.php
.vscode

# Track all files in the wordpress directory, except local config
!/wordpress/
!/wordpress/**
/wordpress/wp-config.php