# Add any directories, files, or patterns you don't want to be tracked by version control
.idea/workspace.xml
.idea/*
.idea
.idea/vcs.xml
.idea/modules.xml
.idea/maximarkets.site.iml
*.zip
*.rar
*.gz
*.sql
*.tar
license.txt
readme.html
web.config
*.log
.tmb
**/node_modules/
wp-cli.phar
/local-xdebuginfo.php
.vscode

# Track all files in the wordpress directory, except local config
!/wordpress/
!/wordpress/**
/wordpress/**/node_modules/
/wordpress/**/node_modules/*
/wordpress/wp-config.php
/wordpress/wp-content/plugins/wp-file-manager
/wordpress/wp-content/backup-db/
/wordpress/wp-content/backups/
/wordpress/wp-content/cache/
/wordpress/wp-content/upgrade/